.form-box{
    max-width: 1180px;
    margin: 0 auto 30px;
    background-color:lightgray;
    border-radius:25px;
}

.contact-form{
    display:block;
    padding:25px;
    display:flex;
    flex-direction: column;
}
input[type=text]{
    width: 30%;
} 
input[type=submit]{
    width: 10%;
} 
textarea{
    width: 50%;
    height: 200px;
} 



