*{
    box-sizing: border-box;
}

body{
    

    font-family: 'Open Sans', sans-serif;
    
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playball', cursive;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

.header-top-wrap{
    background: url(./images/header.jpg) no-repeat center center;
    background-size:100%;
}


header{
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.logo{
    grid-column: 1/2;
    height:30%; width:30%;
}

nav{
    grid-column: 2/3;    
    }
header nav a{
    align-items:flex-end;
    color:white;
    }
    
ul {
    list-style-type: none;
    }
li  {
    display:inline-block;
    margin:15px;
    }
li :hover {
    color:rgb(254, 209, 55);
            }
.tagline{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

main{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0;
}

main h1{
    font-family: 'Playball', cursive;
    font-size: 40px;
}

article{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

blockquote{
    border-left: 5px solid rgb(254, 209, 55);
    padding: 10px 30px;
}

.image-display{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.home-gallery{
    display: grid;
    grid-template-columns: 38% 20% 38%;
    grid-template-rows: repeat(3,33%);
    grid-gap: 2%;
}

.box-1{
    grid-area: 1/1/2/2;
    text-align: right;
}

.img-1{
    grid-area: 1/2/2/3;
    max-width: 100%;
}

.box-2{
    grid-area: 2/3/3/4;
    text-align: left;
}

