@import "./gallery";

*{
    box-sizing: border-box;
}


$font-open :'Open Sans', sans-serif;
$font-play:'Playball', cursive;
$font-slabo :'Slabo 27px', serif;

body{
    font-family: $font-open;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-play;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

.header-top-wrap{
    background: url(../images/header.jpg) no-repeat center center;
    background-size:cover;
}


header{
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;
}

.logo{
    grid-column: 1/2;
}

nav{
    grid-column: 2/3;
    ul {
        display:flex;
        justify-content:flex-end; 
        list-style-type: none;
        li  {
            
            margin:15px;
            a{
                display:flex;
                align-items:flex-end;
                color:white;
                font-weight: 700;
                font-size: 20px;
                &:hover{
                    color:rgb(254, 209, 55);
                }
            }
        }
    }
}

.tagline{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
    h2{
        display:inline-block;
        color:white;
        font-size:55px;
        padding:5px;
        text-shadow: 4px 3px 17px rgba(0,0,0,1);
    }
    p{
        color:white;
        font-size:30px;
        text-shadow: 4px 3px 17px rgba(0,0,0,1);
    }
    a{
        color:black;
        font-size:25px;
        padding:5px;
        background-color:rgb(254, 209, 55); 
        display: table;
        margin: 0 auto;
        padding: 10px 20px;
    }
}

.main-wrap{
    padding: 20px 10px;
}

main{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0;
}

main{
    font-size: 20px;
    font-family: $font-slabo;
    h1{
        font-family: 'Playball', cursive;
        font-size: 40px;
    }
}

// @mixin breakpoint($property) {
//     @media only screen and (max-width: $property) {
//         @content;
//     }
// }

article.home{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    // @include breakpoint(max-width 750px) {
    //     background: #ccc;
    // }
    @media only screen and (max-width: 650px) {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}


  

 
  

blockquote{
    border-left: 5px solid rgb(254, 209, 55);
    padding: 10px 30px;
}

.image-display{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
    @media only screen and (max-width: 650px) {
        text-align: left;
        padding: 20px 0;
     }
}

.home-gallery{
    display: grid;
    grid-template-columns: 38% 20% 38%;
    grid-template-rows: repeat(3,32%);
    grid-gap: 2%;
    @media only screen and (max-width: 650px) {
        display: block;
    }
}

.box-1{
    grid-area: 1/1/2/2;
    text-align: right;
    @media only screen and (max-width: 650px) {
       text-align: left;
    }
}

.img-1{
    grid-area: 1/2/2/3;
    max-width: 100%;
}

.box-2{
    grid-area: 2/3/3/4;
    text-align: left;
}

.img-2{
    grid-area: 2/2/3/3;
    max-width: 100%; 
}

.box-3{
    grid-area: 3/1/4/2;
    text-align: right;
    @media only screen and (max-width: 650px) {
        text-align: left;
     }
}

.img-3{
    grid-area: 3/2/4/3;
    max-width: 100%; 
}

.img-rounded{
    border-radius: 50%;
    border: 5px solid #ccc;
}

.about-us 

.card {
    border: none !important; 


}

.card-body {
    flex: 1 1 auto;
    flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto; 
padding: 1.25rem; 
display: block;
font-weight: 200; 
    }

    // img {
    //     border-radius: 50%;
    //   }

.footer-wrap{
    background-color: black;
}

footer {
    padding: 60px 10px; 
    color: white;
    margin: 0 auto;
    max-width: 1180px;
    .article1 {
        float: left; 
        width: 25%;   
        @media only screen and (max-width: 650px) {
            float: none;
            width: auto;
            text-align: center
        }
     }
    .article2 {
        float: left;
        width: 25%;  
        @media only screen and (max-width: 650px) {
            float: none;
            width: auto;
            text-align: center;
        }
    }
    .nav-footer {
        float: left; 
        color: rgb(0, 0, 0); 
        width: 25%; 
        @media only screen and (max-width: 650px) {
            float: none;
            width: auto;
            text-align: center;
        }
    }

    .article3 {
        float: left; 
        width: 25%; 
        @media only screen and (max-width: 650px) {
            float: none;
            width: auto;
            text-align: center;
        }
    }
}

.social-icons {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li  {
            display:inline-block;
            margin:0 10px;
            a{
                align-items:flex-end;
                color:white;
                font-size: 30px;
            }
            &:hover{
                color:rgb(254, 209, 55);
            }
        }
    }
}


