@import "./gallery";

*{
    box-sizing: border-box;
}


$font-open :'Open Sans', sans-serif;
$font-play:'Playball', cursive;
$font-slabo :'Slabo 27px', serif;

body{
    font-family: $font-open;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-play;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

.header-top-wrap{
    background: url(../images/header.jpg) no-repeat center center;
    background-size:100%;
}


header{
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.logo{
    grid-column: 1/2;
    height:30%; width:30%;
}

nav{
    grid-column: 2/3;
    ul {
        display:flex;
        justify-content:flex-end; 
        list-style-type: none;
        li  {
            
            margin:15px;
            a{
                display:flex;
                align-items:flex-end;
                color:white;
                &:hover{
                    color:rgb(254, 209, 55);
                }
            }
        }
    }
}

.tagline{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    h2{
        display:inline-block;
        color:white;
        font-size:55px;
        padding:5px;
        text-shadow: 4px 3px 17px rgba(0,0,0,1);
    }
    p{
        color:white;
        font-size:30px;
        text-shadow: 4px 3px 17px rgba(0,0,0,1);
    }
    a{
        color:black;
        font-size:25px;
        padding:5px;
        background-color:rgb(254, 209, 55); 
    }
}

main{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0;
}

main{
    h1{
        font-family: 'Playball', cursive;
        font-size: 40px;
    }
}

article{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

blockquote{
    border-left: 5px solid rgb(254, 209, 55);
    padding: 10px 30px;
}

.image-display{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.home-gallery{
    display: grid;
    grid-template-columns: 38% 20% 38%;
    grid-template-rows: repeat(3,33%);
    grid-gap: 2%;
}

.box-1{
    grid-area: 1/1/2/2;
    text-align: right;
}

.img-1{
    grid-area: 1/2/2/3;
    max-width: 100%;
}

.box-2{
    grid-area: 2/3/3/4;
    text-align: left;
}

.img-2{
    grid-area: 2/2/3/3;
    max-width: 100%; 
}

.box-3{
    grid-area: 3/1/4/2;
    text-align: right;
}

.img-3{
    grid-area: 3/2/4/3;
    max-width: 100%; 
}

.img-rounded{
    border-radius: 50%;
    border: 5px solid #ccc;
}

