*{
    box-sizing: border-box;
}

body{
    
}

h1,h2,h3,h4,h5,h6{

}

.header-top-wrap{
    background: url(./images/header.jpg) no-repeat center center;
}

.header-wrap{

   
}

header{
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.logo{
    grid-column: 1/2;
    height:50%; width:50%;
}

nav{
    grid-column: 2/3;    
    }
nav a{
    color:white;
    }
}    
ul {
    list-style-type: none;
    }
li  {
    display:inline-block;
    margin:15px;
    }
li :hover {
    color:rgb(254, 209, 55);
            }
.tagline{
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}

.tagline h4{

}

main{
    max-width: 1180px;
    margin: 0 auto;
}

article{
    font-size: 16px;
}

